services:
  postgres_db:
    container_name: postgres_db
    build:
      context: .
      dockerfile: ./postgresql/Containerfile
      args:
        - POSTGRES_IMAGE=${POSTGRES_IMAGE}
    restart: unless-stopped
    user: "1000"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
      - shared_data:/tmp
      - secure_vault:/run/secrets:ro
      - ./certs/server.crt:/certs/server.crt:ro
      - ./certs/ca.crt:/certs/ca.crt:ro
      - ./postgresql/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    networks:
      - MOB_network
    command: >
      postgres 
      -c ssl=on 
      -c ssl_cert_file=/certs/server.crt 
      -c ssl_key_file=/run/secrets/server_key
      -c ssl_ca_file=/certs/ca.crt
      -c hba_file=/etc/postgresql/pg_hba.conf

  mosquitto_broker:
    container_name: mosquitto_broker
    build:
      context: .
      dockerfile: ./mosquitto/Containerfile
      args:
        - MOSQUITTO_IMAGE=${MOSQUITTO_IMAGE}
    restart: unless-stopped
    user: "1000"
    env_file:
      - .env
    ports:
      - "${MQTT_PORT}:${MQTT_PORT}"
    volumes:
      - ./mosquitto:/mosquitto/config
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - secure_vault:/run/secrets:ro
      - ./certs/server.crt:/mosquitto/certs/server.crt:ro
      - ./certs/ca.crt:/mosquitto/certs/ca.crt:ro
    networks:
      - MOB_network

  http_db_update_server:
    container_name: http_db_update_server
    build:
      context: .
      dockerfile: ./cmd/http_db_update_server/Containerfile
      args:
        - GO_IMAGE=${GO_IMAGE}
        - ALPINE_IMAGE=${ALPINE_IMAGE}
        - TARGETARCH=${TARGETARCH}
        - WORKDIR=${WORKDIR}
    restart: unless-stopped
    user: "1000"
    depends_on:
      - postgres_db
    env_file:
      - .env
    ports:
      - "${HTTP_SERVER_PORT}:${HTTP_SERVER_PORT}"
    volumes:
      - shared_data:/tmp
      - secure_vault:/run/secrets:ro
      - ./certs/server.crt:${WORKDIR}/certs/server.crt:ro
      - ./certs/ca.crt:${WORKDIR}/certs/ca.crt:ro
      - ./certs/client.crt:${WORKDIR}/certs/client.crt:ro
    networks:
      - MOB_network

  mqtt_product_api:
    container_name: mqtt_product_api
    build:
      context: .
      dockerfile: ./cmd/mqtt_product_api/Containerfile
      args:
        - GO_IMAGE=${GO_IMAGE}
        - ALPINE_IMAGE=${ALPINE_IMAGE}
        - TARGETARCH=${TARGETARCH}
        - WORKDIR=${WORKDIR}
    restart: unless-stopped
    user: "1000"
    depends_on:
      - postgres_db
      - mosquitto_broker
    env_file:
      - .env
    volumes:
      - secure_vault:/run/secrets:ro
      - ./certs/server.crt:${WORKDIR}/certs/server.crt:ro
      - ./certs/ca.crt:${WORKDIR}/certs/ca.crt:ro
      - ./certs/client.crt:${WORKDIR}/certs/client.crt:ro
    networks:
      - MOB_network

  cli_control_app:
    container_name: cli_control_app
    build:
      context: .
      dockerfile: cmd/cli_control_app/Containerfile
      args:
        - GO_IMAGE=${GO_IMAGE}
        - ALPINE_IMAGE=${ALPINE_IMAGE}
        - TARGETARCH=${TARGETARCH}
        - WORKDIR=${WORKDIR}
    stdin_open: true
    tty: true
    network_mode: host
    user: "1000"
    volumes:
      - secure_vault:/run/secrets:ro
      - ./certs:${WORKDIR}/certs:ro
      - ${HOST_MDB_DIR}:${CONTAINER_MDB_DIR}:ro
      - ${HOST_FIRMWARE_DIR}:${CONTAINER_FIRMWARE_DIR}:ro
    env_file:
      - .env
    environment:
      - MQTT_HOST=${MQTT_HOST_IP}
      - HTTP_SERVER_HOST=${HTTP_SERVER_IP}
      - MDB_FILEPATH=${CONTAINER_MDB_DIR}/${MDB_FILENAME}
      - FIRMWARE_FILEPATH=${CONTAINER_FIRMWARE_DIR}/${FIRMWARE_FILENAME}

networks:
  MOB_network:

volumes:
  postgres_data:
  mosquitto_data:
  mosquitto_log:
  shared_data:
  secure_vault:
    external: true
