services:
  postgres_db:
    container_name: postgres_db
    image: docker.io/library/postgres:18.1-trixie
    restart: unless-stopped
    secrets:
      - server_key
      - db_user
      - db_password
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - shared_data:/tmp
      - ./certs/server.crt:/certs/server.crt:ro
      - ./certs/ca.crt:/certs/ca.crt:ro
    networks:
      - MOB_network
    command: >
      postgres 
      -c ssl=on 
      -c ssl_cert_file=/certs/server.crt 
      -c ssl_key_file=/run/secrets/server_key
      -c ssl_ca_file=/certs/ca.crt

  mosquitto_broker:
    container_name: mosquitto_broker
    image: docker.io/eclipse-mosquitto:2.1.0-alpine
    restart: unless-stopped
    secrets:
      - server_key
      - mqtt_passwd_db
    env_file:
      - .env
    ports:
      - "${MQTT_PORT}:${MQTT_PORT}"
    volumes:
      - ./mosquitto-config:/mosquitto/config
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
      - ./certs/server.crt:/mosquitto/certs/server.crt:ro
    networks:
      - MOB_network

  http_db_update_server:
    container_name: http_db_update_server
    build:
      context: .
      dockerfile: ./cmd/http_db_update_server/Containerfile
      args:
        - GO_VERSION=1.25.6
        - ALPINE_VERSION=3.23
    restart: unless-stopped
    depends_on:
      - postgres_db
    secrets:
      - server_key
      - db_user
      - db_password
    env_file:
      - .env
    ports:
      - "${HTTP_SERVER_PORT}:${HTTP_SERVER_PORT}"
    volumes:
      - shared_data:/tmp
      - ./certs/server.crt:/app/certs/server.crt:ro
      - ./certs/ca.crt:/app/certs/ca.crt:ro
    networks:
      - MOB_network

  mqtt_product_api:
    container_name: mqtt_product_api
    build:
      context: .
      dockerfile: ./cmd/mqtt_product_api/Containerfile
      args:
        - GO_VERSION=1.25.6
        - ALPINE_VERSION=3.23
    restart: unless-stopped
    depends_on:
      - postgres_db
      - mosquitto_broker
    secrets:
      - server_key
      - db_user
      - db_password
      - mqtt_user
      - mqtt_password
    env_file:
      - .env
    volumes:
      - ./certs/server.crt:/app/certs/server.crt:ro
      - ./certs/ca.crt:/app/certs/ca.crt:ro
    networks:
      - MOB_network

secrets:
  server_key:
    external: true
  db_user:
    external: true
  db_password:
    external: true
  mqtt_user:
    external: true
  mqtt_password:
    external: true
  mqtt_passwd_db:
    external: true

networks:
  MOB_network:

volumes:
  postgres_data:
  mosquitto_data:
  mosquitto_log:
  shared_data: